/* Estiliza o container geral para que ele ocupe toda a altura e largura da tela */
/* e use flexbox para centralizar o conteúdo */
body, html {
    height: 100%;
    margin: 0;
  }
  
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  
  /* Estiliza o card que contém o formulário */
  form {
    background-color: #f7f7f7; /* Cor de fundo do card */
    padding: 20px; /* Espaçamento interno para não colar o conteúdo nas bordas */
    border-radius: 8px; /* Bordas arredondadas para o card */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para dar um efeito elevado */
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espaçamento entre os campos do formulário */
    max-width: 400px; /* Largura máxima do card para evitar que fique muito grande em telas grandes */
    width: 100%; /* Faz o card se ajustar ao conteúdo até a largura máxima */
  }
  
  input[type=email] {
    padding: 10px;
    margin: 5px 0; /* Espaço um pouco acima e abaixo do input */
    border: 1px solid #ccc; /* Borda sutil */
    border-radius: 4px; /* Bordas levemente arredondadas */
  }
  
  .btn-reset {
    background-color: #1eaa3f; /* Verde como cor de fundo inicial */
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s; /* Transição suave para mudança de cor */
  }
  
  .btn-reset:hoover {
    background-color: #9debae;/* Cor do botão ao passar o mouse, um verde mais escuro */
  }
  